$sidebar-bg-color: #fff;
$sidebar-color: #333;
$sidebar-width: 160px;
$highlight-color: #333;
$submenu-bg-color: #fff;
$submenu-bg-color-collapsed: #fff;

@import "react-pro-sidebar/dist/scss/styles";
