.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  @include mq.mq($until: tablet) {
    gap: 36px;
  }
  @include mq.mq($from: tablet) {
    gap: 64px;
  }
}

.imageWrapper {
  border: 1px solid rgba(#333, 0.5);
  box-shadow: 4px 4px 4px rgba(#333, 0.5);
  overflow: hidden;
  position: relative;
  @include mq.mq($until: tablet) {
    border-radius: 8px;
    height: 96px;
    width: 96px;
  }
  @include mq.mq($from: tablet) {
    border-radius: 12px;
    height: 120px;
    width: 120px;
  }
}

.heading1 {
  font-family: "Mr Dafoe", cursive;
  @include mq.mq($until: tablet) {
    font-size: 7.2rem;
  }
  @include mq.mq($from: tablet) {
    font-size: 9.6rem;
  }
}
